<div class="container my-5">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Cinema world!</h1>
    <p class="lead">
      This is a page for movie lovers! <br />
      Here you can find thousands of popular films and iconic movies, classics
      and the latest content at a favourable price!
    </p>
    <hr class="my-4" />
    <p>Let's dive into our ever-expanding range of movies!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" routerLink="/movielist" role="button"
        >Click here</a
      >
    </p>
  </div>
</div>
